/* Import font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Apply a transition to all elements */
* {
  transition: all 0.2s ease-in-out;
}

/* Body styles */
body {
  background: pink;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

/* Card styles */
.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Media query for larger screens */
@media only screen and (min-width: 900px) {
  .card {
    flex-direction: column; /* Change flex direction to column for larger screens */
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

/* Media query for smaller screens */
@media only screen and (max-height: 490px) {
  .card {
    flex-direction: column; /* Change flex direction to column for smaller screens */
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

/* Image styles */
img.birthday {
  max-height: 50vh;
/*   order: 1; /* Move the image to the top */ */
}

/* Text styles */
.text {
  padding: 1em;
  color: #333;
}

/* Muted text styles */
.muted {
  opacity: 0.8;
}

/* Spacer styles */
.space {
  height: 100px;
}

/* Keyframe animation for fading in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation styles for body with 'play-music' class */
body.play-music {
  animation: fadeIn 2s ease-in-out;
}
